* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/** General Style */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/** End of General Style */
/** Header Style */
header {
  background: #1F2937;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    max-width: 120rem;
    margin: 0 auto;
}
#logo {
  font-size: 2.4rem;
  color: #F9FAF8;
  flex-grow: 1;
}

header ul {
  display: flex;
  gap: 3rem;
}

header ul li a {
  color: white;
  font-size: 1.8rem;
  }

  header ul li a:hover {
    font-weight: 700;
}

/** End of Header  Style */
/** Main Style */
.background-container {
  background-color: #1F2937;
}
.hero-container {
  max-width: 120rem;
  padding: 10rem 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;

}
.hero-container-text {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.hero-container-text h1 {
  font-size: 4.8rem;
}

.hero-container-text p {
  font-weight: 300;
  font-size: 1.8rem;
}

.hero-container button {
  background: #3882F6;
  border: 0px;
  padding: 1rem 2.5rem;
  border-radius: .5rem;
  color: white;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  align-self: flex-start;
  transition: transform 300ms ease-in-out,
  background 300ms ease-in-out,
  border-width 300ms ease-in-out;
  }

  .hero-container button:hover {
    background: transparent;
    border: 1px solid #3882F6;
    transform: scale(1.05);
}

.hero-container img {
  width: 50rem;
  min-width: 30rem;
  background: #3882F6;
  border-radius: 3rem;
}

/** End of Main Style */

/** Gallery Style */
.gallery {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}
.gallery h2 {
  margin: 2rem 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  color: #1F2937;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 6rem;
  margin: 0 auto;

}

.card-item {
  width: 20rem;
  margin: 0 5rem;
  transition: transform 300ms ease-in-out,
  box-shadow 300ms ease-in-out;
  }

  .card-item:hover {
    transform: scale(1.2);

}

.card-item img {
border: 4px solid #3882F6;
width: 100%;
border-radius: 3rem;
min-width: 20rem;
height: 15rem;

}
.card-item img:hover {
  -webkit-box-shadow: 0px 0px 35px 5px rgba(160, 197, 255, 0.74);
  box-shadow: 0px 0px 35px 5px rgba(160, 197, 255, 0.74);
}
.card-item p {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #666;
}

/** End of Gallery Style */
/** Quotation Style */
.quote-section {
  background: #E5E7EB;
  padding: 8rem 8rem;
}

.quote-section p {
  font-size: 3.6rem;
  font-weight: 300;
  color: #1F2937;
  max-width: 120rem;
  margin: 0 auto;
}

.quote-section h4 {
  font-size: 2rem;
  text-align: end;
  margin: 0 auto;
  max-width: 120rem;
}

/** End of Quotation Style */

/** Sign Up Style */
#sign-up {
  padding: 8rem;
}

.sign-up-container {
  background: #3882F6;
  padding: 4rem 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: .6rem;
  justify-content: space;
  max-width: 120rem;
  margin: 0 auto;
  }

  .sign-up-item:first-child {
    margin: 0 1.5rem 0 0;
  }

  .sign-up-item:last-child {
    margin: 0 0 0 1.5rem;
  }

  .sign-up-item h3 {
    font-size: 2rem;
  }

  .sign-up-item p {
    font-size: 1.2rem;
  }
.sign-up-container button {
  background: transparent;
  border: 1px solid white;
  padding: .5rem 2rem;
  border-radius: .3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  transition: transform 300ms ease-in-out;
}
.sign-up-container button:hover {
  transform: scale(1.1);

}
/** End of Sign Up Style */

/** Footer Style */
footer {
  background: #1F2937;
  padding: 2rem 8rem;
  color: white;
  text-align: center;
 }

 footer p {
   font-size: 1.5rem;
}

/** End of Footer Style */